@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:50px">
    <h1 class="display-4">Welcome To My Movie App!</h1>
    <h2><a href="/Movies" class="btn btn-primary">Get Started</a></h2>
</div>
